{% extends "home/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% load get_type %}

{% block main %}
    <form action="" method="post">
		{% csrf_token %}
        <div class="mb-3">
			{{ form.username }}
            {{ form.errors.username }}
        </div>
        <div class="mb-3">
            {{ form.errors.password1 }}
			{{ form.password1 }}
        </div>
        <div class="mb-3">
            {{ form.errors.password2 }}
			{{ form.password2 }}
			
        </div>
		{% comment %} {{ form.errors|typededo }} {% endcomment %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
	<script>
        inputs = document.getElementsByTagName("input");
        for (let i = 1; i < inputs.length; i++) {
            inputs[i].classList.add("form-control")
            inputs[i].classList.add("mx-auto")
            inputs[i].classList.add("w-auto")
        }
		inputs[1].placeholder = "Username";
		inputs[2].placeholder = "Password";
		inputs[3].placeholder = "Confirm Password";
    </script>
{% endblock %}
