{% extends "home/layout.html" %}
{% block title %}Change Password{% endblock %}
{% block main %}
    {% load get_type %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">{{ form.old_password }} {{ form.errors.old_password }}</div>
        <div class="mb-3">{{ form.new_password1 }} {{ form.errros.new_password1 }}</div>
        <div class="mb-3">{{ form.new_password2 }} {{ form.errors.new_password2 }}</div>
        <input type="hidden" name="next" value="{% url 'home:index' %}">
        <button class="btn btn-primary text-center"d E type="submit">Log In</button>
    </form>
    <script>
        inputs = document.getElementsByTagName("input");
        for (let i = 1; i < inputs.length; i++) {
            inputs[i].placeholder = inputs[i].name.charAt(0).toUpperCase() + inputs[i].name.substring(1);
            inputs[i].classList.add("form-control")
            inputs[i].classList.add("mx-auto")
            inputs[i].classList.add("w-auto")
        }
    </script>
{% endblock %}
